.container {
  min-height: 100vh;
}

/* Main */

main {
  margin-top: 7vh;
}

main .avatar {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  display: block;
  margin: auto;
  margin-bottom: 30px;
  padding: 8px;
  border: 1.4px solid var(--border-color);
  background-color: var(--card-color);
}

main h1 {
  text-align: center;
  font-size: 24px;
  color: var(--text-color);
  margin-bottom: 20px;
}

main p {
  text-align: center;
  font-size: 56px;
  color: var(--text-color);
  margin-bottom: 130px;
}

main ul.pages {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

main ul.pages li:not(:last-child) {
  margin-right: 100px;
}

main ul.pages li a {
  border: 1.4px solid var(--text-color);
  padding: 20px 50px;
  border-radius: 10px;
  color: var(--text-color);
  text-decoration: none;
  transition: color, border-color 0.2222s;
}

main ul.pages li a:hover {
  color: var(--text-color-hovered);
  border-color: var(--text-color-hovered);
}

/* Main End */
