:root {
  --text-color: #8A8A8A;
  --text-color-hovered: #dcdcdc;
  --border-color: #242424;
  --background-color: #161616;
  --card-color: #1A1A1A;
}

::selection {
  color: var(--background-color);
  background-color: var(--text-color);
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--background-color);
  background-image: url("../assets/BG.svg");
  background-attachment: fixed;
}

body * {
  font-family: "Outfit", sans-serif;
}

/* Navbar */

.navbar {
  width: 70%;
  margin: auto;
  box-sizing: border-box;
  padding: 30px 50px;
  border-bottom: 1.4px solid var(--border-color);
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.navbar ul li.active a {
  color: var(--text-color-hovered);
}

.navbar ul li a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 16px;
}

.navbar .navbar-mailme a {
  display: flex;
  align-items: center;
}

.navbar .navbar-mailme a * {
  transition: color 0.2222s;
}

.navbar .navbar-mailme a:hover * {
  color: var(--text-color-hovered);
}

.navbar .navbar-mailme a i {
  margin-right: 10px;
  font-size: 24px;
  color: var(--text-color)
}

.navbar .navbar-mailme a span {
  font-size: 16px;
}

.navbar .navbar-menu ul {
  list-style-type: none;
}

.navbar .navbar-menu ul li:not(:last-child) {
  margin-right: 10px;
}

.navbar .navbar-menu ul li:not(:last-child)::after {
  content: '/';
  margin-left: 10px;
  color: var(--text-color);
}

.navbar .navbar-menu ul li a {
  transition: color 0.2222s;
}

.navbar .navbar-menu ul li a:hover {
  color: var(--text-color-hovered);
}

/* Navbar End */

/* Footer */

footer {
  text-align: center;
  width: 70%;
  margin: auto;
  box-sizing: border-box;
  padding: 30px 50px;
  border-top: 1.4px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer p {
  color: var(--text-color);
}

footer ul {
  list-style-type: none;
  display: flex;
}

footer ul li:not(:last-child) {
  margin-right: 10px;
}

footer ul li:not(:last-child)::after {
  content: '/';
  margin-left: 10px;
  color: var(--text-color);
}

footer ul li a {
  text-decoration: none;
  color: var(--text-color);
  transition: color 0.2222s;
}

footer ul li a:hover {
  color: var(--text-color-hovered);
}

/* Footer End */

/* Components */

.card {
  background-color: var(--card-color);
  border: 1.4px solid var(--border-color);
  padding: 20px;
}

.card img.card-img {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
}

.card h2.card-title {
  color: var(--text-color);
  margin-bottom: 10px;
  font-weight: normal;
}

.card p {
  color: var(--text-color);
}

/* Components End */